<div>
    <form>
        
        <select name="carlist" form="carform">
          <option value="volvo">IT전문능력</option>
          <option value="saab">정보수집능력</option>
          <option value="opel">통찰력</option>
          <option value="audi">추진력</option>
          <option value="audi">리더십</option>
          <option value="audi">협업능력</option>
          <option value="audi">물류전문능력</option>
        </select>
        
        <input type="text"><br>
        <input type=""> <input type="text"><br>
        
        <input type="submit" value="작성">
        
    </form>
    