<div id="main"> <h1>JSJ 포트폴리오</h1> ver1.0 (created by 2015/10/7) 

</div>

<%unless user_signed_in?%>
<div class="header">
<a href="/users/sign_in">로그인</a>
<a href="/users/sign_up">회원가입</a>
</div>
<% else %>
<div class="header">
<a href="/users/sign_out">로그아웃</a> <p>
<%= current_user.email %>님 반갑습니다.<p>
당신의 가입날짜는 <%=@day%> 입니다.<p>
 JSJ포트폴리오에 가입하신 후로 <%=@today%>일이 지났습니다. 그동안 당신은 얼마나 성장했나요?
</div>
<% end %>

<div style="text-align:center">
<a href="/home/detail"> 개발능력 </a>
<a href="/home/detail"> 정보수집능력 </a>
<a href="/home/detail"> 통찰력 </a>
<a href="/home/detail"> 추진력 </a>
<a href="/home/detail"> 리더십 </a>
<a href="/home/detail"> 협업능력 </a>
<a href="/home/detail"> 물류능력 </a>
</div>


<div style="text-align:center;">
<canvas height="600" id="myChart" width="500">.</canvas>
</div>


<script type="text/javascript">
 var data = {
  labels : ["개발능력", "정보수집능력", "통찰력", "추진력", "리더십", "협업능력", "물류능력"],
  datasets : [{
   fillColor : "rgba(151,187,205,0.5)",
   strokeColor : "rgba(151,187,205,1)",
   pointColor : "rgba(151,187,205,1)",
   pointStrokeColor : "#fff",
   data : [28, 48, 40, 19, 40, 27, 50]
  }]
 };
 var ctx = $("#myChart").get(0).getContext("2d");
 new Chart(ctx).Radar(data);
  
</script>

