
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Sign in</a></li>
            <li role="presentation"><a href="#">Sign up</a></li>
          </ul>
                  <h3 class="text-muted">JSJ 포트폴리오</h3>
        </nav>

      </div>

      <div class="jumbotron">
        <h2>주체적인 삶을 원하는 당신께 드리는 선물</h2>
        <p class="lead">지금 바로 자신에게 필요하다고 생각되는 7가지 능력을 키워보세요!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">등록하러 가기</a></p>
        <div style="text-align:center;">
        <canvas height="600" id="myChart" width="500">.</canvas>
        </div>
        
        
        <script type="text/javascript">
         var data = {
          labels : ["개발능력", "정보수집능력", "통찰력", "추진력", "리더십", "협업능력", "물류능력"],
          datasets : [{
           fillColor : "rgba(151,187,205,0.5)",
           strokeColor : "rgba(151,187,205,1)",
           pointColor : "rgba(151,187,205,1)",
           pointStrokeColor : "#fff",
           data : [28, 48, 40, 19, 40, 27, 50]
          }]
         };
         var ctx = $("#myChart").get(0).getContext("2d");
         new Chart(ctx).Radar(data);
          
        </script>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>